
body {
    margin: 0;
    padding: 0;
    background-image: url('../images/wallpaperdotsEX.jpg'); 
    background-size: 50%; 
    background-position: top left; 
    background-repeat: repeat; 
}

#linklist {
    display: flex;
    justify-content: flex-end; 
    background-color: #333;
    padding: 10px 20px;
    width: 100%; 
    position: fixed; 
    top: 0;
    left: 0;
}


#linklist ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#linklist li {
    margin: 0 15px;

#linklist a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    transition: 0.3s;
}


#linklist a:hover {
    background-color: #555;
    border-radius: 5px;
}