body.resume-page, html {
    margin: 0;
    padding: 0;
}

body.resume-page {
    margin: 0;
    padding: 0;
    background-image: url('../images/wallpaperdotsEX.jpg');
    background-size: 50%; 
    background-position: top left; 
    background-repeat: repeat; 
}


body.resume-page #linklist {
    display: flex;
    justify-content: flex-end; 
    background-color: #333; 
    padding: 10px 20px;
    width: 100%; 
    position: fixed; 
    top: 0;
    left: 0;
}


body.resume-page #linklist ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

body.resume-page #linklist li {
    margin: 0 15px;
}

body.resume-page #linklist a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    transition: 0.3s;
}


body.resume-page #linklist a:hover {
    background-color: #555;
    border-radius: 5px;
}

body.resume-page .container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

body.resume-page #info-block {
    width: 1000px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 20px auto; 
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

body.resume-page #coursework {
    width: 45%; 
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 10px auto 0; 
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
}

body.resume-page #work_experience {
    width: 45%; 
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 10px auto 0;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
}

body.resume-page #skills {
    width: 45%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 10px auto 0; 
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
}

body.resume-page #Certs {
    width: 45%; 
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 10px auto 0; 
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
}

body.resume-page #references {
    width: 45%; 
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 10px auto 0; 
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
}
