body, html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('../images/wallpaperdotsEX.jpg');
    background-size: 50%; 
    background-position: top left; 
    background-repeat: repeat; 
}


#linklist {
    display: flex;
    justify-content: flex-end; 
    background-color: #333; 
    padding: 10px 20px;
    width: 100%; 
    position: fixed; 
    top: 0;
    left: 0;
}


#linklist ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#linklist li {
    margin: 0 15px;
}

#linklist a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    transition: 0.3s;
}


#linklist a:hover {
    background-color: #555;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

#info-block {
    width: 1000px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 20px auto; 
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

#coursework {
    width: 45%; 
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 10px auto 0; 
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
}

#work_experience {
    width: 45%; 
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 10px auto 0;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
}

#skills {
    width: 45%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 10px auto 0; 
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
}

#Certs {
    width: 45%; 
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 10px auto 0; 
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
}

#references {
    width: 45%; 
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 10px auto 0; 
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
}
